<h1>Kaiu - Material Contextual Menu DEMO</h1>

<p>You can right click anywhere on the text.</p>

<p class="lorem-ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque, velit vitae gravida facilisis, velit
    ligula interdum dui, a semper sem orci eget ligula. Sed iaculis, orci vel eleifend mollis, dui tellus eleifend
    risus, ac rutrum magna diam ut arcu. Vestibulum quis elementum ligula. Aenean vel sapien felis. In elementum
    dignissim dolor, et laoreet leo rhoncus non. Nunc nec massa viverra, porttitor magna at, faucibus nisl. Donec in
    commodo quam. In eget turpis ut ipsum vulputate hendrerit a vitae justo.</p>

<p class="lorem-ipsum">Etiam quis quam ut sapien sodales ullamcorper ut ut arcu. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Praesent at urna id risus facilisis faucibus. Donec pulvinar blandit dignissim. Vivamus
    sodales tincidunt enim, nec varius lectus facilisis sed. Nam laoreet euismod nibh. Morbi ultrices dui a
    convallis lobortis. In hac habitasse platea dictumst. Vitae sem velit. Donec mollis luctus sapien eget
    aliquam. Pellentesque eget ipsum vitae ex commodo varius. Maecenas urna enim, sollicitudin eu posuere nec, facilisis sit amet ligula.
    Integer vel molestie sem. Fusce eu neque ac mi lacinia gravida.</p>

<p class="lorem-ipsum">Integer in erat ut diam posuere fringilla et non tellus. Fusce tincidunt nulla eget tellus maximus mollis. Vivamus
    venenatis viverra nisl, ut cursus eros mollis a. Vestibulum fermentum, odio non luctus maximus, nisi dolor laoreet
    est, vitae tristique nulla mi auctor leo. Mauris accumsan, libero eget condimentum porta, lorem velit lacinia neque,
    sollicitudin scelerisque elit eros tempor sem. Rutrum lorem id neque pretium, a tincidunt ipsum molestie.
    Quisque nec ultrices ligula. Integer vitae posuere est. risus. Sed vulputate purus tincidunt sodales consectetur. Duis quis massa lectus. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Nunc cursus justo id risus consequat, ut consequat quam
    eleifend. Aenean vel venenatis dolor. Mauris auctor aliquam odio, nec commodo sapien dignissim sed.</p>

<p class="lorem-ipsum">Vivamus pretium, nunc vitae lacinia viverra, libero purus vulputate nisi, eu ultricies elit augue quis ante. Nulla
    ornare justo non eros faucibus, id lacinia purus consequat. Vivamus finibus mi ligula, ut mollis orci mollis eu.
    Aliquam interdum at magna non ultricies. Enim et nisl suscipit, eu molestie dolor hendrerit.
    Proin auctor ut urna id viverra. Sed vel nisl sit amet dolor tristique volutpat. Nunc scelerisque diam ac odio
    luctus ullamcorper. Aliquam semper tempor odio, eu ultrices dui commodo sit amet. Etiam nec ipsum dui. Nulla quis
    gravida ligula, non iaculis diam. Quisque feugiat consectetur dolor ac vestibulum.</p>

<p class="lorem-ipsum">Etiam nisl eros, pellentesque sit amet lorem id, sodales viverra erat. Pellentesque interdum, felis ut varius
    sagittis, urna eros fringilla arcu, ullamcorper porta mi diam lacinia lorem. Sed consectetur varius enim quis
    ultricies. Sed faucibus tristique magna at tincidunt. Quisque vehicula tempus tincidunt. Cras a ante ac metus ornare
    blandit in nec odio. Maecenas id felis vitae nulla ultricies tincidunt ut ut ipsum. Aliquam laoreet eros sapien, sit
    amet rutrum eros volutpat sed. In efficitur condimentum malesuada. Praesent varius consequat neque luctus blandit.
    Ut a libero vulputate, blandit sem ut, vestibulum eros. Nunc vel tellus ultricies, fringilla mi sit amet, volutpat
    purus. Aliquam vestibulum quis turpis tincidunt finibus. Maecenas vel lectus auctor, sodales leo ut, tincidunt
    mauris. Praesent ut diam ut justo maximus pretium.</p>

<p class="lorem-ipsum">Cras id scelerisque nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eleifend, odio vitae
    dignissim accumsan, urna velit laoreet dui, iaculis hendrerit diam augue blandit purus. Mauris magna mauris,
    vehicula rutrum faucibus vel, rhoncus lacinia nisl. In lacinia eros sit amet elit feugiat, ac pellentesque diam
    suscipit. Sed at maximus leo. Donec vehicula at eros id varius. Nunc nec nunc in enim sagittis euismod ac sed quam.
    Morbi enim erat, dapibus in ante et, fringilla commodo magna. In ac metus vel mi pharetra dictum. Curabitur in erat
    eu est auctor efficitur. Praesent elementum pretium lectus, sit amet accumsan odio gravida id. Duis vitae enim
    ligula. Nulla vestibulum lorem quis consequat iaculis. Duis magna nisl, consectetur eu risus in, tincidunt dictum
    dolor. Nunc nisl nisl, tempus nec dui eget, cursus sagittis ipsum.</p>
